.linkMovies::marker {
  font-size: 25px;
  color: red;
}
.linkMovies {
  color: whitesmoke;
  font-size: 1.2em;
}
.linkItem {
  text-decoration: none;
  color: white;
  outline: none;
  padding: 2px 1px 0;
}
.linkItem:visited {
  background-color: rgb(0, 21, 255);
}
.linkItem:hover {
  border-bottom: 1px solid;
  color: rgb(0, 21, 255);
}
