.linkmovies {
  font-size: 25px;
}
.linkmovies::marker {
  color: blue;
  font-size: 1.2em;
}
.link {
  text-decoration: none;
  color: white;
  outline: none;
  padding: 2px 1px 0;
}
.link:visited {
  color: chartreuse;
}
.link:hover {
  border-bottom: 1px solid;
  color: darkmagenta;
}
